* {
  margin: 0;
  padding: 0;
}

#container {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

#kotak {
  width: 200px;
  height: 200px;
  margin: auto;
  border: 1px solid black;
  border-radius: 3%;
  background-image: url("gambar.jpeg");
  background-size: cover;
}
